.slideBox{ width:100%; height:auto;overflow:hidden; position:relative;}
.slideBox .hd{ height:16px; overflow:hidden; position:absolute; left:45%; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{cursor: pointer; width:4em; height:6px; background:#cdcdcd; opacity:0.4;filter:alpha(opacity=40); float:left; margin:0 .5em;}
.slideBox .hd ul li.on{ background:#940000 !important; opacity:0.8;}
.slideBox .bd{ width: 100%; height:auto; z-index:0;   }
.slideBox .bd ul li{overflow: hidden;width: 100%; height:auto;position: relative;  }
.slideBox .bd ul li img{width:100%; height:auto;}
.slideBox .bd li a{display:block; width:100%; height:auto; margin:0 auto; position: relative;}